

<!-- The map -->
<div id="map"></div>


<script type="text/javascript">

var map;

function initMap() {
  var myLatLng = {lat: 40.700023, lng:-73.856609 };

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  <%counter = 0%>
  //putting erb into javascript to create multiple tags on google map for locations in our db -- public parks controller to iterate through lat lng
  <% @parks.each do |park| %>

  // create content for infowindow  
  <% park_viewobject = RatingViewObject.new(park) %>
  var <%= "contentString" + counter.to_s%> = "<a href='<%= public_park_path(park.id) %>'><%= park.name%></a> <br> <%= park.location%><p>Rating: <%= park.average_rating%></p><br>Comments:<br><% park_viewobject.display_top_five_comments.each do |comment|%><%= comment %><br><% end %>"
     
  // create infowindow   
  var <%= "infowindow" + counter.to_s%> = new google.maps.InfoWindow({
      content:<%= "contentString" + counter.to_s%>
    });


    // create marker with unique var name
  var <%= "park" + counter.to_s%> = new google.maps.Marker({
    position: {lat: <%=park.latitude%>, lng: <%=park.longitude%>},   
    map: map,
    title: "<%=park.name%>"
     
    });

  // create listener event for "click"
    <%= "park" + counter.to_s%>.addListener('click', function() {
    <%= "infowindow" + counter.to_s%>.open(map, <%= "park" + counter.to_s%>);
  });
     <% counter += 1 %>

  <% end %> // closing our loop 
}

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqF6HleM6x7DGblO5v4nsY9-8jzuucCIo&callback=initMap">
</script>
