<h1> <%= @restroom.name %> <h1>
  <h3> <%= @restroom.location %> </h3>
  <% @restroom.reviews.each do |review| %>
  <p><%= "Rating: #{review.rating}" %></p>
  <p><%= review.comment %></p>
  <% end %>


<%= render './reviews/review_form' %>
