<h1> <%= @public_park.name %> <h1>
  <h3> <%= @public_park.location %> </h3>
  <% @public_park.reviews.each do |review| %>
  <p><%= "Rating: #{review.rating}" %></p>
  <p><%= review.comment %></p>
  <% end %>


<%= render './reviews/review_form' %>
