<% if current_user %>
 
<br>

Previous Reviews:
 <% user_reviews = Review.where(user_id: @user.id) %>
 <% user_reviews.each do |review| %>
 <p><%= review.public_park.name %>:</p>
 <p>rating: <%= review.rating %> </p>
 <p>comments: <%= review.comment %> </p><br>
 <% end %>

<%= link_to "Add a review", public_parks_path %>

 
<% else %>
 <p> <%= link_to "Sign up", signup_path %> </p>
 <p> <%= link_to "Log in", login_path %> </p>
 <% end %>


