<% if current_user %>
 <p> <%= link_to "Log out", logout_path %> </p>
 <p> <%= link_to "profile page", user_path(current_user) %> <p>
 <p> <%= link_to "Add a restroom",  new_public_park_path %> </p>
 <p> <%= "Hi, #{current_user.name.capitalize}!" %> </p>
<% else %>
 <p> <%= link_to "Sign up", signup_path %> </p>
 <p> <%= link_to "Log in", login_path %> </p>
<% end %>
