<!DOCTYPE html>
<html>
<head>
  <title>RestroomFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #header {padding: 2%;}
      #map { height: 100%; margin-top: 5% }
    </style>
</head>
<body>
  
  <%= render 'layouts/header' %>
  
<%= yield %>

</body>
</html>
